<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layout/template.xhtml">
    
	<ui:define name="content">
		<div role="main">
			<div class="">
				<div class="page-title">	
					<div class="title_left">						
						<h3>
							Rol <small>editar</small>
						</h3>
					</div>
				</div>
		
				<div class="clearfix"></div>
		
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<br />
                    			<h:form class="form-horizontal form-label-left">
                    				<ui:include src="/pages/_mensajes.xhtml" />
			                      	<div class="form-group">
			                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">descripción *</label>
			                        	<div class="col-md-9 col-sm-9 col-xs-12">
			                          		<h:inputText class="form-control" value="#{rolController.descripcion}"/>
			                        	</div>			                        	
			                      	</div>
			                      	<div class="form-group">
			                      		<label class="control-label col-md-3 col-sm-3 col-xs-12">estado</label>
			                        	<h:selectBooleanCheckbox style="margin-top: 8px;margin-left:10px" value="#{rolController.estado}"/>
			                      	</div>
			                      	<div class="ln_solid"></div>
			                    	<div class="form-group">
			                        	<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
			                          		<a href="/#{ParametroSistema.nombreSistema}/pages/administracion/rol/list.xhtml" class="btn btn-default">
			                          			<i class="fa fa-arrow-left"></i> Volver
			                          		</a>
			                          		<h:commandButton value="Guardar" action="#{rolController.actualizar()}" class="btn btn-success"/>
			                        	</div>
			                      	</div>		                      	
								</h:form>	
							</div>
						</div>
					</div>				
				</div>
    		</div>
    	</div>
    </ui:define>
</ui:composition>
