<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                template="/WEB-INF/layout/template.xhtml">
    	
	<ui:define name="content">
		
		<div role="main">
			<div class="">
				<div class="page-title">	
					<a href="/#{ParametroSistema.nombreSistema}/pages/administracion/rol_pantalla/list.xhtml" class="btn btn-default pull-right">
               			<i class="fa fa-arrow-left"></i> Volver
               		</a>
					<div class="title_left">						
						<h3>
							Rol-Pantalla <small>editar</small>
						</h3>
					</div>
				</div>
		
				<div class="clearfix"></div>
		
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
	                        	<label>Rol</label><br/>
	                          	<h:outputText class="form-control" value="#{rolPantallaController.rolDescripcion}"/>
							</div>
						</div>
						<div class="x_panel">
							<div class="x_content">
								<div class="col-md-12 col-sm-12 col-xs-12">
								<h:form>
									<table id="table" class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Pantalla</th>
												<th>Accion</th>
											</tr>
										</thead>
										<tbody>
										<ui:repeat value="#{rolPantallaController.pantallaList}" var="pantalla">
											<tr>
												<td>#{pantalla.descripcion}</td>
												<td>
													<h:commandButton value="agregar" action="#{rolPantallaController.agregar(pantalla.idPantalla)}" rendered="#{!fn:contains(rolPantallaController.pantallaPorRolList,pantalla)}" class="btn btn-success btn-xs">
														<f:param name="idRol" value="${rolPantallaController.rolSeleccionado.idRol}"/>
													</h:commandButton>
													<h:commandButton value="eliminar" action="#{rolPantallaController.eliminar(pantalla.idPantalla)}" rendered="#{fn:contains(rolPantallaController.pantallaPorRolList,pantalla)}" class="btn btn-danger btn-xs">
														<f:param name="idRol" value="${rolPantallaController.rolSeleccionado.idRol}"/>
													</h:commandButton>
												</td>																			
											</tr>
										</ui:repeat>
										</tbody>
									</table>
								</h:form>
								</div>
							</div>
						</div>
					</div>				
				</div>
    		</div>
    	</div>    	
    </ui:define>   
</ui:composition>
