<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                template="/WEB-INF/layout/template.xhtml">
    	
	<ui:define name="content">
		
		<div role="main">
			<div class="">
				<div class="page-title">	
					<a href="/#{ParametroSistema.nombreSistema}/pages/administracion/usuario_rol/list.xhtml" class="btn btn-default pull-right">
               			<i class="fa fa-arrow-left"></i> Volver
               		</a>
					<div class="title_left">						
						<h3>
							Usuario-Rol <small>editar</small>
						</h3>
					</div>
				</div>
		
				<div class="clearfix"></div>
		
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
	                        	<label>Usuario</label><br/>
	                          	<h:outputText class="form-control" value="#{usuarioRolController.usuarioDescripcion}"/>
							</div>
						</div>
						<div class="x_panel">
							<div class="x_content">
								<div class="col-md-12 col-sm-12 col-xs-12">
								<h:form>
									<table id="table" class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Roles</th>
												<th>Accion</th>
											</tr>
										</thead>
										<tbody>
										<ui:repeat value="#{usuarioRolController.rolList}" var="rol">
											<tr>
												<td>#{rol.descripcion}</td>
												<td>
													<h:commandButton value="agregar" action="#{usuarioRolController.agregar(rol.idRol)}" rendered="#{!fn:contains(usuarioRolController.rolPorUsuarioList,rol)}" class="btn btn-success btn-xs">
														<f:param name="idUsuario" value="${usuarioRolController.usuarioSeleccionado.idUsuario}"/>
													</h:commandButton>
													<h:commandButton value="eliminar" action="#{usuarioRolController.eliminar(rol.idRol)}" rendered="#{fn:contains(usuarioRolController.rolPorUsuarioList,rol)}" class="btn btn-danger btn-xs">
														<f:param name="idUsuario" value="${usuarioRolController.usuarioSeleccionado.idUsuario}"/>
													</h:commandButton>
												</td>																			
											</tr>
										</ui:repeat>
										</tbody>
									</table>
								</h:form>
								</div>
							</div>
						</div>
					</div>				
				</div>
    		</div>
    	</div>    	
    </ui:define>   
</ui:composition>
