<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<div class="col-md-3 left_col">
		<div class="left_col scroll-view">
			<div class="navbar nav_title" style="border: 0;">
				<a href="/#{ParametroSistema.nombreSistema}/pages/index.xhtml" class="site_title">
				<i class="fa fa-paw"></i>
				<span>#{ParametroSistema.nombreSistemaMayuscula}</span></a>
			</div>

			<div class="clearfix"></div>

			<br />

			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
				<div class="menu_section">
					<h3>Sistema</h3>
					<ul class="nav side-menu">
						<li>
							<a>
								<i class="fa fa-user"></i> Seguridad <span class="fa fa-chevron-down"></span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/#{ParametroSistema.nombreSistema}/pages/administracion/usuario/list.xhtml">Usuarios</a></li>
								<li><a href="/#{ParametroSistema.nombreSistema}/pages/administracion/rol/list.xhtml">Roles</a></li>
								<li><a href="/#{ParametroSistema.nombreSistema}/pages/administracion/pantalla/list.xhtml">Pantallas</a></li>
								<li><a href="/#{ParametroSistema.nombreSistema}/pages/administracion/rol_pantalla/list.xhtml">Roles-Pantallas</a></li>
								<li><a href="/#{ParametroSistema.nombreSistema}/pages/administracion/usuario_rol/list.xhtml">Usuario-Rol</a></li>
							</ul>
						</li>
						<li>
							<a>
								<i class="fa fa-database"></i> Recursos <span class="fa fa-chevron-down"></span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/#{ParametroSistema.nombreSistema}/pages/recurso/persona/list.xhtml">Personas</a></li>
							</ul>
						</li>
					</ul>
				</div>
				

			</div>
			<!-- /sidebar menu -->

			<!-- /menu footer buttons -->
			<div class="sidebar-footer hidden-small">
				<a data-toggle="tooltip" data-placement="top" title="Settings">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				</a> 
				<a data-toggle="tooltip" data-placement="top" title="FullScreen">
					<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
				</a> 
				<a data-toggle="tooltip" data-placement="top" title="Lock"> 
					<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
				</a> 
				<!-- a data-toggle="tooltip" data-placement="top" title="cerrar sesion" href="login.html"> 
					<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
				</a-->
				<h:form>
                    <h:commandLink data-toggle="tooltip" data-placement="top" title="cerrar sesion" action="#{login.logout()}">                                   
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>                                   
                    </h:commandLink>
                </h:form>
			</div>
			<!-- /menu footer buttons -->
		</div>
	</div>
</ui:composition>