<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta http-equiv="Content-Language" content="es"/>
        </f:facet>
        <title><ui:insert name="title">#{ParametroSistema.nombreSistema}</ui:insert></title>

        <link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/nprogress/nprogress.css" rel="stylesheet" type="text/css"/>
        <link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/animate.css/animate.min.css" rel="stylesheet" type="text/css"/>
        <link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/build/css/custom.min.css" rel="stylesheet" type="text/css"/>
		<link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/build/css/saip.css" rel="stylesheet" type="text/css"/>
		<link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    	<link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
	</h:head>

    <h:body class="nav-md">
    	
    
    	<div class="container body">
      		<div class="main_container">
      			<ui:include src="./menu.xhtml" />
	            <ui:include src="./topbar.xhtml" />            
	
	            <div class="right_col" role="main">
                    <ui:insert name="content"/>             
	            </div>
	            
                <ui:include src="./footer.xhtml" /> 
      		</div>
      	</div>
      	<!-- jQuery -->
	    <script src="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/jquery/dist/jquery.min.js"></script>
	    <!-- Bootstrap -->
	    <script src="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
	    <!-- Custom Theme Scripts -->
	    <script src="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/build/js/custom.min.js"></script>
		<!-- datatable -->
		<script src="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    	<!-- datepicker -->
    	<script src="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js" />
		<script src="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js" />
		
    	<script>
			$(document).ready(function() {
				$('.table').DataTable({
			        "language": {
			            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
			        },
			        stateSave: true
			    });
				$('.datepicker').datepicker({
	    			format: "dd/mm/yyyy",
	    		    language: "es"
	    		});
			    	   
			});
		</script>
    	
    </h:body>

</html>