<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<!-- top navigation -->
	<div class="top_nav">
		<div class="nav_menu">
			<nav>
				<div class="nav toggle">
					<a id="menu_toggle"><i class="fa fa-bars"></i></a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li class="">
						<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
							#{login.usuarioConectado.persona.nombreApellido} <span class=" fa fa-angle-down"></span>
						</a>
						<ul class="dropdown-menu dropdown-usermenu pull-right">
							<li>
								<a href="/#{ParametroSistema.nombreSistema}/pages/administracion/usuario/cambiar_contrasenha.xhtml">
									Cambiar Contraseña
								</a>
							</li>
							<li>
								<h:form style="padding: 12px 0px;">
				                    <h:commandLink action="#{login.logout()}">                                   
				                        <i class="fa fa-sign-out pull-right"></i> Cerrar Sesión                                   
				                    </h:commandLink>
				                </h:form>
							</li>
						</ul>
					</li>

					<li role="presentation" class="dropdown"><a
						href="javascript:;" class="dropdown-toggle info-number"
						data-toggle="dropdown" aria-expanded="false"> <i
							class="fa fa-envelope-o"></i> <span class="badge bg-green">6</span>
					</a>
						<ul id="menu1" class="dropdown-menu list-unstyled msg_list"
							role="menu">
							<li><a> <span class="image"><img
										src="images/img.jpg" alt="Profile Image" /></span> <span> <span>John
											Smith</span> <span class="time">3 mins ago</span>
								</span> <span class="message"> Film festivals used to be
										do-or-die moments for movie makers. They were where... </span>
							</a></li>
							<li><a> <span class="image"><img
										src="images/img.jpg" alt="Profile Image" /></span> <span> <span>John
											Smith</span> <span class="time">3 mins ago</span>
								</span> <span class="message"> Film festivals used to be
										do-or-die moments for movie makers. They were where... </span>
							</a></li>
							<li><a> <span class="image"><img
										src="images/img.jpg" alt="Profile Image" /></span> <span> <span>John
											Smith</span> <span class="time">3 mins ago</span>
								</span> <span class="message"> Film festivals used to be
										do-or-die moments for movie makers. They were where... </span>
							</a></li>
							<li><a> <span class="image"><img
										src="images/img.jpg" alt="Profile Image" /></span> <span> <span>John
											Smith</span> <span class="time">3 mins ago</span>
								</span> <span class="message"> Film festivals used to be
										do-or-die moments for movie makers. They were where... </span>
							</a></li>
							<li>
								<div class="text-center">
									<a> <strong>See All Alerts</strong> <i
										class="fa fa-angle-right"></i>
									</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- /top navigation -->


</ui:composition>