<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layout/template.xhtml">
    
	<ui:define name="content">
		<div role="main">
			<div class="">
				<div class="page-title">	
					<div class="title_left">						
						<h3>
							Pantalla <small>editar</small>
						</h3>
					</div>
				</div>
		
				<div class="clearfix"></div>
		
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<br />
                    			<h:form class="form-horizontal form-label-left">
                    				<ui:include src="/pages/_mensajes.xhtml" />
                    				<div class="form-group">
			                      		<label class="control-label col-md-3 col-sm-3 col-xs-12">estado</label>
			                        	<h:selectBooleanCheckbox style="margin-top: 8px;margin-left:10px" value="#{personaController.estado}"/>
			                      	</div>
                    			   	<div class="form-group">
			                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">nombre y apellido *</label>
			                        	<div class="col-md-9 col-sm-9 col-xs-12">
			                          		<h:inputText class="form-control" value="#{personaController.nombreApellido}"/>
			                        	</div>
			                      	</div>
			                      	<div class="form-group">
			                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">documento identidad *</label>
			                        	<div class="col-md-9 col-sm-9 col-xs-12">
			                          		<h:inputText class="form-control" value="#{personaController.documentoIdentidad}"/>
			                        	</div>
			                      	</div>
			                      	<div class="form-group">
			                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">sexo *</label>
			                        	<div class="col-md-9 col-sm-9 col-xs-12">
			                          		<h:selectOneRadio id="sexo" value="#{personaController.sexo}" unselectable="true">
									            <f:selectItem itemLabel="masculino" itemValue="M" />
									            <f:selectItem itemLabel="femenino" itemValue="F" />
									        </h:selectOneRadio>
			                        	</div>
			                      	</div>
			                      	<div class="form-group">
			                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">fecha de nacimiento</label>
			                        	<div class="col-md-9 col-sm-9 col-xs-12">
			                                <h:inputText class="form-control has-feedback-left datepicker" value="#{personaController.fechaNacimiento}" id="fechaNacimiento"/>
			                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
			                            	<span id="inputSuccess2Status" class="sr-only">(success)</span>
			                        	</div>
			                      	</div>
			                      	<div class="form-group">
			                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">dirección</label>
			                        	<div class="col-md-9 col-sm-9 col-xs-12">
			                          		<h:inputText class="form-control" value="#{personaController.direccion}"/>
			                        	</div>
			                      	</div>
			                      	<div class="form-group">
			                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">teléfono</label>
			                        	<div class="col-md-9 col-sm-9 col-xs-12">
			                          		<h:inputText class="form-control" value="#{personaController.telefono}"/>
			                        	</div>
			                      	</div>
			                      	<div class="form-group">
			                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">Correo Electrónico</label>
			                        	<div class="col-md-9 col-sm-9 col-xs-12">
			                          		<h:inputText class="form-control" value="#{personaController.correoElectronico}"/>
			                        	</div>
			                      	</div>
			                      	<div class="ln_solid"></div>
			                    	<div class="form-group">
			                        	<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
			                          		<a href="/#{ParametroSistema.nombreSistema}/pages/recurso/persona/list.xhtml" class="btn btn-default">
			                          			<i class="fa fa-arrow-left"></i> Volver
			                          		</a>
			                          		<h:commandButton value="Guardar" action="#{personaController.actualizar()}" class="btn btn-success"/>
			                        	</div>
			                      	</div>
								</h:form>	
							</div>
						</div>
					</div>				
				</div>
    		</div>
    	</div>
    </ui:define>
</ui:composition>
