<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core">
    
		<h:panelGroup rendered="#{not empty facesContext.messageList}"> 
			<c:if test="#{facesContext.getMaximumSeverity().getOrdinal() == 2}"> 
				<div class="alert alert-danger" role="alert">
				  	<h:messages globalOnly="true" showDetail="true" />
				</div>
			</c:if>  
			<c:if test="#{facesContext.getMaximumSeverity().getOrdinal() == 1}"> 
				<div class="alert alert-warning" role="alert">
				  	<h:messages globalOnly="true" showDetail="true" />
				</div>
			</c:if> 
			<c:if test="#{facesContext.getMaximumSeverity().getOrdinal() == 0}"> 
				<div class="alert alert-success" role="alert">
					<h:messages globalOnly="true" showDetail="true" />
				</div>
			</c:if> 
		</h:panelGroup>
		
</ui:composition>


