<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta http-equiv="Content-Language" content="es"/>
        </f:facet>
        <title>Municipalidad de Asunci&oacute;n</title>
        <link rel="shortcut icon" href="#{resource['barcelona-layout:images/favicon.icov']}" type="image/x-icon"/>
        <link rel="icon" href="#{resource['barcelona-layout:images/favicon.ico']}" type="image/x-icon"/>
    </h:head>

    <h:body styleClass="exception-body error-body">        
        <div class="exception-panel">
            <img src="resources/barcelona-layout/images/exception/icon-error.png" alt=""/>
        </div>
        
        <div class="exception-band">
            <div class="exception-content">
                <h1>OCURRIO UN ERROR INESPERADO</h1>
                <p>Contacte con el administrador del sistema</p>
                <img src="resources/barcelona-layout/images/logo.png" alt="" width="200"/>
            </div>            
        </div>
    
        <link href="resources/barcelona-layout/css/layout-green.css" rel="stylesheet" type="text/css"/>
    </h:body>

</html>


