
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="/WEB-INF/layout/template.xhtml">
    
    <ui:define name="content">
        <div style="height: 350px;">
            hola, En esta pantalla puede haber algunos dashboard, alertas y actividades pendientes del usuario
        </div>
    </ui:define>
</ui:composition>


