<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="Content-Language" content="es"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>#{ParametroSistema.nombreSistema}</title>

        <link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/nprogress/nprogress.css" rel="stylesheet" type="text/css"/>
        <link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/vendors/animate.css/animate.min.css" rel="stylesheet" type="text/css"/>
        <link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/build/css/custom.min.css" rel="stylesheet" type="text/css"/>
		<link href="/#{ParametroSistema.nombreSistema}/resources/gentelella-master/build/css/saip.css" rel="stylesheet" type="text/css"/>
    </h:head>

    <h:body class="login">
        <div>
            <a class="hiddenanchor" id="signup"></a>
            <a class="hiddenanchor" id="signin"></a>
			<h:form>
	            <div class="login_wrapper">
	                <div class="animate form login_form">
	                    <section class="login_content" style="padding: 0;">
	                        <h:form>
	                            <h1>#{ParametroSistema.nombreSistemaMayuscula}</h1>
	                            <div>
	                                <h:inputText value="#{login.user}" class="form-control" style="margin-bottom: 20px;" id="user" placeholder="Usuario"/>
	                            </div>
	                            <div>
	                                <h:inputSecret class="form-control" value="#{login.pass}" style="margin-bottom: 20px;" id="pass" placeholder="Contraseña"/>
	                            </div>
	                            <div class="ui-g-12" >
	                               <h:panelGroup id="messagePanel" layout="block">
	                                   <h:messages showDetail="true" style="color:red;font-size:initial;" id="alert" layout="table"/>
	                               </h:panelGroup>
	                            </div>  
	                            <div>
	                                <h:commandButton value="Ingresar" action="#{login.login()}"  class="btn btn-saip" update="alert"/>
	                            </div>
	
	                            <div class="clearfix"></div>
	
	                        </h:form>
	                    </section>
	                </div>
	
	            </div>
            </h:form>
        </div>

    </h:body>

</html>
