<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="/WEB-INF/layout/template.xhtml">
    <ui:define name="content">

        <div>                 
            <header id="masthead" class="site-header" role="banner">
                <h2>No tiene permisos para acceder a esta página.</h2>
            </header>
        </div>

    </ui:define>
</ui:composition>


