<ui:composition   xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
       xmlns:f="http://java.sun.com/jsf/core"
       template="/WEB-INF/layout/template.xhtml">
    <ui:define name="content">
	
	    <div role="main">
			<div class="">
				<div class="page-title">	
					<div class="title_left">						
						<h3>
							Contraseña <small>editar</small>
						</h3>
					</div>
				</div>
		
				<div class="clearfix"></div>
		
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<br />
                    			<h:form class="form-horizontal form-label-left">
                    				<ui:include src="/pages/_mensajes.xhtml" />
                    				<div class="form-group">
				                    	<label for="password" class="control-label col-md-3">contraseña nueva *</label>
				                        <div class="col-md-6 col-sm-6 col-xs-12">
				                        	<h:inputSecret id="password" name="password" class="form-control" value="#{usuarioController.password1}" />
				                        </div>
				                    </div>
				                    <div class="form-group">
				                    	<label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">repita la contraseña *</label>
				                        <div class="col-md-6 col-sm-6 col-xs-12">
				                        	<h:inputSecret id="password2" name="password2" class="form-control" value="#{usuarioController.password2}"/>
				                        </div>
				                    </div>
				                    <div class="ln_solid"></div>
			                    	<div class="form-group">
			                        	<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
			                          		<a href="/#{ParametroSistema.nombreSistema}/" class="btn btn-default">
			                          			<i class="fa fa-arrow-left"></i> Volver
			                          		</a>
			                          		<h:commandLink class="btn btn-success" value="Guardar" action="#{usuarioController.cambiarContrasenha()}" >
				                           		<f:param name="idUsuario" value="#{usuario.idUsuario}"/>
				                       		</h:commandLink>
				                       	</div>
			                      	</div> 
				                                	
					        	</h:form>
							</div>
						</div>
					</div>				
				</div>
    		</div>
    	</div>
    	
    </ui:define>
</ui:composition>