<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layout/template.xhtml">
    
	<ui:define name="content">
	 
	    <div role="main">
			<div class="">
				<div class="page-title">	
					<div class="title_left">						
						<h3>
							Usuario <small>editar</small>
						</h3>
					</div>
				</div>
		
				<div class="clearfix"></div>
		
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<br />
                    			<h:form class="form-horizontal form-label-left">
                    				<ui:include src="/pages/_mensajes.xhtml" />
                    				<div class="form-group">
			                      		<label class="control-label col-md-3 col-sm-3 col-xs-12">estado</label>
			                        	<h:selectBooleanCheckbox style="margin-top: 8px;margin-left:10px" value="#{usuarioController.estado}"/>
			                      	</div>
                    				<div class="form-group">
			                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">persona *</label>
			                        	<div class="col-md-4 col-sm-4 col-xs-4">
			                          		<h:outputText class="form-control" value="#{usuarioController.persona.documentoIdentidad}  #{usuarioController.persona.nombreApellido}"/>
			                        	</div>
			                        	<div class="col-md-2 col-sm-2 col-xs-2">
			                          		<button type="button" class="btn btn-saip"  value="buscar" data-toggle="modal" data-target=".modal-persona">
			                          			<i class="fa fa-search"></i> buscar
			                          		</button>
			                        	</div>
			                      	</div>
                    			   	<div class="form-group">
			                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">usuario *</label>
			                        	<div class="col-md-9 col-sm-9 col-xs-12">
			                          		<h:inputText class="form-control" value="#{usuarioController.usuarioIden}"/>
			                        	</div>
			                      	</div>
			                      	
			                      	<div class="form-group">
			                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">correo electrónico institucional</label>
			                        	<div class="col-md-9 col-sm-9 col-xs-12">
			                          		<h:inputText class="form-control" value="#{usuarioController.email}"/>
			                        	</div>
			                      	</div>
			                      	<div class="ln_solid"></div>
			                    	<div class="form-group">
			                        	<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
			                          		<a href="/#{ParametroSistema.nombreSistema}/pages/administracion/usuario/list.xhtml" class="btn btn-default">
			                          			<i class="fa fa-arrow-left"></i> Volver
			                          		</a>
			                          		<h:commandButton value="Guardar" action="#{usuarioController.actualizar()}" class="btn btn-success"/>
			                        	</div>
			                      	</div>  
								</h:form>
								
								<!-- MODAL -->
								<h:form>
									<div class="modal fade modal-persona" tabindex="-1" role="dialog" aria-hidden="true">
						            	<div class="modal-dialog modal-lg">
					                    	<div class="modal-content">					
						                        <div class="modal-header">
						                        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
						                        	</button>
						                        	<h4 class="modal-title" id="myModalLabel">Persona</h4>
						                        </div>
						                        <div class="modal-body">
						                        	<div class="form-group">
							                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">Documento Identidad *</label>
							                        	<div class="col-md-4 col-sm-4 col-xs-4">
							                          		<h:inputText class="form-control" value="${usuarioController.documentoIdentidad}"/>
							                        	</div>
							                        	<div class="col-md-2 col-sm-2 col-xs-2">
							                          		<h:commandButton action="${usuarioController.buscarPersona()}" value="Buscar" type="button" class="btn btn-saip">
							                          			<f:ajax execute="@form" render="persona_documentoIdentidad persona_nombreApellido persona-mensaje"/>
							                          		</h:commandButton>
							                        	</div>
							                      	</div>
							                      	<br/><br/><br/>
							                      	
							                      	<table id="tab_persona" style="width: 100%;" class="table-striped table-bordered">
														<thead>
															<tr>
																<th style="padding-left: 5px;padding-top: 5px;padding-bottom: 5px;">Documento Identidad</th>
																<th style="padding-left: 5px;padding-top: 5px;padding-bottom: 5px;">Nombre y Apellido</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td style="padding-left: 5px"><h:outputText id="persona_documentoIdentidad" value="#{usuarioController.persona.documentoIdentidad}"/></td>
																<td style="padding-left: 5px"><h:outputText id="persona_nombreApellido" value="#{usuarioController.persona.nombreApellido}"/></td>								
															</tr>
														</tbody>
													</table>
													
													<h:messages style="color:red;font-size:initial;" id="persona-mensaje" globalOnly="true" showDetail="true" />
						                        </div>
						                        <div class="modal-footer">
						                        	<h:commandButton value="seleccionar" class="btn btn-success" action="#{usuarioController.buscarPersona()}"/>
						                        	<button type="button" class="btn btn-default" data-dismiss="modal">
						                        		<i class="fa fa-close"></i> Cerrar
						                        	</button>
						                        </div>
					                      	</div>
						        		</div>
					        		</div>
					        	</h:form>
							</div>
						</div>
					</div>				
				</div>
    		</div>
    	</div>
    </ui:define>
    
</ui:composition>



