<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layout/template.xhtml">
   	
    <ui:define name="content">		
    	<div role="main">
			<div class="">
				<div class="page-title">
					<a href="#{usuarioController.crear()}" class="btn btn-saip pull-right" >
						<i class="fa fa-plus"></i> Crear
					</a>						
					<div class="title_left">						
						<h3>
							Usuario <small>lista</small>
						</h3>
					</div>
				</div>
		
				<div class="clearfix"></div>
		
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
							<h:form>
								<ui:include src="/pages/_mensajes.xhtml" />
								<table id="table" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Usuario</th>
											<th>Nombre y Apellido</th>
											<th>Documento de identidad</th>
											<th>Estado</th>											
											<th>Acción</th>
										</tr>
									</thead>
									<tbody>
									<ui:repeat value="#{usuarioController.usuarioList}" var="usuario">
										<tr>
											<td>#{usuario.usuario}</td>
											<td>#{usuario.persona.nombreApellido}</td>
											<td>#{usuario.persona.documentoIdentidad}</td>
											<td> <h:outputText value="#{usuario.estado == 'A' ? 'Activo' : 'Inactivo'}" /></td>
											<td>												
												<h:commandLink value="Editar" action="#{usuarioController.editar}" >
					                           		<f:param name="idUsuario" value="#{usuario.idUsuario}"/>
					                       		</h:commandLink>
					                       		&#160;&#160;&#160;
					                       		<h:commandLink value="Restablecer contraseña" action="#{usuarioController.restablecerContrasenha}" >
					                           		<f:param name="idUsuario" value="#{usuario.idUsuario}"/>
					                       		</h:commandLink>						                    	
											</td>
										</tr>
									</ui:repeat>
									</tbody>
								</table>
							</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>
